* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.black {
    background-color: rgb(49, 50, 51);
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 20px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.nav-button {
    border-radius: 5px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.nav-button:hover {
    background-color: #333;
    transform: scale(1.05);
}

.query, .search {
    border-radius: 5px;
    padding: 10px;
}

.welcome-message {
    margin: 20px;
    text-align: center;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 10px;
    padding: 10px;
}

.gallery-image {
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: transform 0.3s;
}

.gallery-image:hover {
    transform: scale(1.05);
}

.footer {
    width: 100%;
    background-color: rgb(13, 14, 15);
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}
